{% extends "base/base.html" %}

{% block body %}
<div class="drawer 2xl:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content bg-secondary h-full min-h-screen">
    <div class="flex flex-col h-full">
      {% include "base/navbar.html" %}
      <div class="lg:px-8 mx-2">
        {% block content %}
        {% endblock content %}
      </div>
      {% if not current_user.has_roles([ "admin"]) %}
      {% include "base/footer.html" %}
      {% endif %}
    </div>
  </div>
  {% include "base/sidebar.html" %}
</div>

</div>
{#% include "base/footer.html" %#}
{% endblock body %}