<div class="w-full navbar  h-auto">
  <div class="flex w-full 2xl:flex-row flex-col items-start">
    <label for="my-drawer-2" class="btn bg-primary drawer-button 2xl:hidden hover:bg-bg-primary text-white">
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </label>
    <div class="flex flex-col 2xl:px-16 px-2">
      <div class="flex pt-6 text-5xl font-bold">
        {{ page_name }}
      </div>
      <div class="flex py-2">
        {{ breadcrumbs }}
      </div>
    </div>
  </div>
</div>