{% extends "base/default_page.html" %}
{% from "components/breadcrumbs.html" import render_breadcrumbs %}
{% import "components/forms/select_input.html" as render_select_input %}
{% import "components/forms/text_input.html" as render_text_input %}
{% import "components/modals.html" as render_modal %}


{% set page_name = "เปลี่ยนรหัสผ่านบัญชีผู้ใช้" %}

{% set links = [ ("เปลี่ยนรหัสผ่านบัญชีผู้ใช้","") ] %}

{% set breadcrumbs = render_breadcrumbs(links) %}

{% block content %}
{{ render_modal.ModalUploadError(errors) }}
{{ render_modal.ModalComplete(completed, url_for("dashboard.index")) }}
<form method="post" enctype="multipart/form-data">
  <div class="flex flex-col bg-white px-4 rounded my-2 py-4 md:max-w-none max-w-full md:justify-normal justify-center">
    <div class="sm:grid lg:grid-cols-2 grid-cols-2 flex flex-wrap items-start max-md:justify-center gap-4 w-full">
      {{ form.csrf_token }}
      {{ render_text_input.TextInput(form.password) }}
      {{ render_text_input.TextInput(form.confirm_password) }}
    </div>
  </div>

  <div class="flex md:flex-row flex-col justify-end gap-4 my-6">
    <a href="{{ url_for('accounts.user_index') }}" class="btn min-w-52">ยกเลิก</a>
    <button class="btn btn-primary text-white min-w-52">บันทึก</button>
  </div>
</form>
{% endblock %}