@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Noto Sans Thai', sans-serif;
}

.datepicker-cell {
  height: 100% !important;
}

.datepicker-cell.range {
  border-radius: 0 !important;
}

.datepicker-cell.range-end {
  background-color: #1D4DE8 !important;
  color: white !important;   
}

.datepicker-cell.range-start {
  background-color: #1D4DE8 !important;
  color: white !important;   
}